<!DOCTYPE html>
<html lang="en">
<head>
  <title>cirl</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <link rel="stylesheet" href="<%= url('/styles.css') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="sticky">
  <a href="/" class="button">Home</a>
  <a href="/list" class="button">List</a>
  <a href="/review" class="button">Review</a>
  <a href="/report" class="button">Report</a>
  <a href="/slurp" class="button">Slurp</a>
</header>

<%= yield %>

</body>
</html>