<h1>List</h1>

<ul>
<% @issues.each { |issue| %>
  <li class="mono">
    <a class="mono" href="<%= issue['url'] %> "target="_blank"><%= issue['iid'] %></a> -
    <%= issue['createdAt'] %> -
    <%= issue['closedAt'] %> -
    <%= issue['licenseLabel'] %> -
    <%= issue['licensesCreated'] %>
  </li>
<% } %>
</ul>