<h1>Generic</h1>
<ul>
  <li>Number of issues slurped = <%= @metrics[:nr_issues_slurped] %></li>
  <li>Number of issues reviewed = <%= @metrics[:nr_issues_reviewed] %></li>
</ul>

<h1>Reviewed issues</h1>
<h3>Label usage</h3>
<ul>
  <li>Number of issues where license was created = <%= @metrics[:nr_created_with_license] %></li>
  <li>Number of issues where license was created with label = <%= @metrics[:nr_created_with_label] %> (<%= @metrics[:nr_created_with_label_percentage] %>%)</li>
  <li>Number of issues where license was created without label = <%= @metrics[:nr_created_without_label] %> (<%= @metrics[:nr_created_without_label_percentage] %>%)</li>
</ul>

<h3>Effective number of issues</h3>
<ul>
  <li>Number of issues where license was created = <%= @metrics[:nr_created_with_license] %></li>
  <li>Number of licenses created = <%= @metrics[:nr_licenses_created] %></li>
  <li>Effective number of issues = <%= @metrics[:nr_effective_issues] %> (+ <%= @metrics[:effective_issues_percentage] %>%) </li>
</ul>

<h3>Number of licenses per issue</h3>
<table style="display: block; width: 20%; max-height: 600px;">
  <thead>
  <tr>
    <th>Licenses</th>
    <th>Issues</th>
  </tr>
  </thead>
  <tbody>
  <% (0..@metrics[:nr_licenses_per_issue][:max]).each do |nr| %>
    <tr>
      <td><%= nr %></td>
      <td><%= @metrics[:nr_licenses_per_issue][nr] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Created issues per month</h3>
<table style="display: block; width: 50%; max-height: 600px;">
  <thead>
    <tr>
      <th>Month</th>
      <th>Issues created</th>
      <th>Issues created with license/s</th>
      <th>Licenses in issues created</th>
      <th>Effective issues</th>
    </tr>
  </thead>
  <tbody>
    <% @metrics[:daterange].each do |month| %>
      <tr>
        <td><%= month %></td>
        <td><%= @metrics[:nr_created_issues_per_month][month] %></td>
        <td><%= @metrics[:nr_created_issues_with_license_per_month][month] %></td>
        <td><%= @metrics[:nr_licenses_in_created_issues_per_month][month] %></td>
        <td> <%= @metrics[:nr_created_issues_per_month][month] + @metrics[:nr_created_issues_extra][month] %> (+<%= @metrics[:nr_created_issues_extra][month] %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Closed issues per month</h3>
<table style="display: block; width: 50%; max-height: 600px;">
  <thead>
  <tr>
    <th>Month</th>
    <th>Issues closed</th>
    <th>Issues closed with license/s</th>
    <th>Licenses in issues closed</th>
    <th>Effective issues</th>
  </tr>
  </thead>
  <tbody>
  <% @metrics[:daterange].each do |month| %>
    <tr>
      <td><%= month %></td>
      <td><%= @metrics[:nr_closed_issues_per_month][month] %></td>
      <td><%= @metrics[:nr_closed_issues_with_license_per_month][month] %></td>
      <td><%= @metrics[:nr_licenses_in_closed_issues_per_month][month] %></td>
      <td> <%= @metrics[:nr_closed_issues_per_month][month] + @metrics[:nr_closed_issues_extra][month] %> (+<%= @metrics[:nr_closed_issues_extra][month] %>)</td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>Created issues per month</h3>
<div class="ct-chart ct-double-octave" id="created-chart" style="width: 50%;"></div>
<h3>Closed issues per month</h3>
<div class="ct-chart ct-double-octave" id="closed-chart" style="width: 50%;"></div>

<script>
  let data_created = {
    labels:
      [<% @metrics[:daterange].each do |month| %>
        '<%= month %>',
      <% end %>],
    series: [
      [<% @metrics[:daterange].each do |month| %>
        <%= @metrics[:nr_created_issues_per_month][month] %>,
        <% end %>],
      [<% @metrics[:daterange].each do |month| %>
        <% issues = @metrics[:nr_created_issues_with_license_per_month][month] %>
        <% licenses = @metrics[:nr_licenses_in_created_issues_per_month][month] %>
        <%= licenses - issues %>,
        <% end %>],
    ]
  };

  new Chartist.Bar('#created-chart', data_created, {
    stackBars: true,
    axisY: {
      onlyInteger: true
    }
  }).on('draw', function(data) {
    if(data.type === 'bar') {
      data.element.attr({
        style: 'stroke-width: 30px'
      });
    }
  });

  let data_closed = {
    labels:
      [<% @metrics[:daterange].each do |month| %>
        '<%= month %>',
        <% end %>],
    series: [
      [<% @metrics[:daterange].each do |month| %>
        <%= @metrics[:nr_closed_issues_per_month][month] %>,
        <% end %>],
      [<% @metrics[:daterange].each do |month| %>
        <% issues = @metrics[:nr_closed_issues_with_license_per_month][month] %>
        <% licenses = @metrics[:nr_licenses_in_closed_issues_per_month][month] %>
        <%= licenses - issues %>,
        <% end %>],
    ]
  };
  new Chartist.Bar('#closed-chart', data_closed, {
    stackBars: true,
    axisY: {
      onlyInteger: true
    }
  }).on('draw', function(data) {
    if(data.type === 'bar') {
      data.element.attr({
        style: 'stroke-width: 30px'
      });
    }
  });
</script>