<h1>
  Issue <%= @issue['iid'] %>
  <a href="<%= @issue['url'] %>" target="_blank"><button class="primary" autofocus>Zendesk page</button></a>
</h1>

<form method="POST" action="/review">
  <input type="hidden" name="issue_iid" value="<%= @issue['iid'] %>" >
  <label for="nr_licenses">Number of licenses:</label>
  <input type="number" name="nr_licenses" id="nr_licenses" required>
  <input type="submit" class="primary" value="Submit">
</form>

<script>
  window.addEventListener('focus', function() {
    document.getElementById("nr_licenses").focus();
  });
</script>
