<h1>Slurp</h1>

<form method="POST" id="form">
  <label for="slurp_date">Slurp start date:</label>
  <input type="date" name="slurp_date" required>
  <input type="submit" class="primary" value="Slurp!" onclick="submit_form()">
</form>

<div class="spinner primary" id="spinner" style="visibility: hidden;"></div>

<script>
function submit_form() {
  document.getElementById("spinner").style.visibility = "visible";
  document.getElementById("form").submit();
}
</script>